/* header */
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner{
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.header{
    background: #FEFAF6;
    width: 100%;
    height: 100px;
}

.header .tlogo{
    width: 130px;
}
.header .login-btn{
    border: 2px solid #0F2C59;
    background: none;
    padding: 10px 30px;
    margin-left: 30px;
    font-weight: bold;
    cursor: pointer;
}

.nav{
    gap: 50px;
}

/* sell */


/* product */


/* review */


/* map */


/* footer */